:root {
  --logo-color: #9a91d9;
}

i.favicon-home {
  position: relative;
  top: 4px;
  font-size: 20px;
  background-image: unset !important;
  background-color: var(--logo-color);
  -webkit-mask-image: url("/favicon.svg");
  mask-image: url("/favicon.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.block__content--destroyed {
  background-color: var(--destroyed-content-color) !important;
}

.communication--hidden .communication__interaction {
  margin: 0;
}
